.feedback {
text-align: center;

}

.feedback__title {
 color: green;
 font-size: 48px;
}

.feedback__btn {
font-size: 16px;
font-weight: bold;
 margin-right: 30px;
 padding:5px;
 width: 80px;
 cursor: pointer;
border-radius: 50px;

}
.feedback__btn:hover {
transform: scale(1.2); 
box-shadow: 2px 2px 10px grey;
}

.stat__title {
    color: blue;
    font-size: 40px;
}

.stat__item {
font-size: 24px;
}